/*----------------------------------------
    register Page
------------------------------------------*/

.register-bg {
  background-image: url(/images/login.jpg?0cce7588124eac123bb136b2cd6a7065);
  background-repeat: no-repeat;
  background-size: cover;
}

#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#register-page .card-panel.border-radius-6.register-card {
  margin-right: 0 !important;
}

